.webContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.webContainer > img {
    margin: 0.5rem;
}

.webContainer > div {
    font-size: 2rem;
}

.statContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weekly {
    width: 40%;
}

.streak {
    width: 40%;
}

